body {
  background-image:
    linear-gradient(to right, hsl(127, 15%, 10%) 1px, transparent 1px),
    linear-gradient(to bottom, hsl(127, 15%, 10%) 1px, transparent 1px);
  background-size: 40px 40px;
}

.luxvitae-background-base {
  width: 100%;
  position: absolute;
  z-index: -1;
}

.grain-background {
  background: url('/assets/background/grain-bg.svg') repeat;
}

.top-left-gradient-background {
  background: url('/assets/background/luxvitae-top-gradient.svg') no-repeat top left;
}
.bottom-right-gradient-background {
  background: url('/assets/background/luxvitae-bottom-gradient.svg') no-repeat bottom right;
}

.luxvitae-yellow-highlight {
  position: absolute;
  left: 96px;
  top: 0;
  width: 248px;
  height: 1px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 15%,
    rgba(255, 248, 0, 0.6) 50%,
    rgba(255, 255, 255, 0) 85%
  );
}

.luxvitae-hard-blur {
  width: 196px;
  height: 4px;
  position: absolute;
  left: 103px;
  top: -2px;
  background: #fff800;
  opacity: 0.1;
  filter: blur(12px);
}

.luxvitae-soft-blur {
  width: 296px;
  height: 16.576px;
  position: absolute;
  left: 52px;
  top: -9px;
  border-radius: 296px;
  opacity: 0.3;
  background: #fff800;
  filter: blur(32px);
}

.luxvitae-mobile-grainy-blur {
  width: 211px;
  height: 245px;
  background: linear-gradient(
    0deg,
    rgba(255, 251, 229, 0) 0%,
    rgba(21, 227, 227, 0.06) 35.5%,
    rgba(255, 248, 0, 0.48) 80.5%
  );
  filter: blur(26px);
}
.luxvitae-mobile-grainy-blur::before {
  content: '';
  left: 55px;
  position: absolute;
  width: 101px;
  height: 167px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(168, 240, 248, 0.6) 100%);
  filter: blur(26px);
}

.luxvitae-mobile-top-gradient {
  position: absolute;
  left: 50%;
  margin-left: -105px;
  top: -140px;
  width: 211px;
  height: 280px;
}

.luxvitae-mobile-bottom-gradient {
  width: 211px;
  height: 280px;
  position: absolute;
  right: -140.023px;
  bottom: -109.977px;
}

.luxvitae-mobile-bottom-gradient.luxvitae-mobile-grainy-blur {
  transform: rotate(180deg);
}

.luxvitae-order-summary-mobile-yellow-highlight::before {
  content: '';
  position: absolute;
  left: 50%;
  margin-left: -124px;
  top: 0;
  width: 248px;
  height: 1px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 15%,
    rgba(255, 248, 0, 0.6) 50%,
    rgba(255, 255, 255, 0) 85%
  );
}

.luxvitae-success-background {
  position: absolute;
  left: 50%;
  margin-left: -410px;
  top: -338.001px;
  width: 820px;
  height: 938px;
  border-radius: 820px;
  transform: rotate(180deg);
  background: linear-gradient(
    180deg,
    rgba(255, 251, 229, 0) 0%,
    rgba(21, 227, 227, 0.06) 35.5%,
    rgba(255, 248, 0, 0.18) 80.5%
  );
  filter: blur(100px);
}

.luxvitae-success-background::before {
  content: '';
  position: absolute;
  width: 394px;
  top: 350px;
  height: 559px;
  left: 50%;
  margin-left: -197px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(174, 242, 247, 0.6) 100%);
  filter: blur(100px);
}

.bg-border.border-light {
  background-color: hsl(132, 10%, 10%);
}

.border-light {
  position: relative;
  /* background: linear-gradient(90deg, rgba(65, 75, 78, 0) 0%, #414b4e 49.5%, rgba(65, 75, 78, 0) 100%); */
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 20%, rgba(255, 248, 0, 0.3) 50%, rgba(0, 0, 0, 0) 80%);
}
.border-light::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: calc(50% - 124px);
  width: 248px;
  height: 1px;
  /*   background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 15%,
    rgba(255, 248, 0, 0.6) 50%,
    rgba(255, 255, 255, 0) 85%
  ); */
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 20%, rgba(255, 248, 0, 0.5) 50%, rgba(0, 0, 0, 0) 80%);
}

.btn-anim-lr {
  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    background: linear-gradient(90deg, hsla(62, 66%, 27%, 0.7), hsla(94, 17%, 18%, 0.5) 50%, hsla(127, 10%, 95%, 0));
    background-size: 200%;
    background-position: 100%;
    transition: all 0.5s cubic-bezier(0.246, 0.7, 0.2, 1);
    border-radius: inherit;
  }
  &:hover::after {
    background-position: 0;
    border-radius: inherit;
  }
}

.btn-anim-tb {
  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    background: linear-gradient(180deg, hsla(62, 66%, 27%, 0.7), hsla(94, 17%, 18%, 0.5) 50%, hsla(127, 10%, 95%, 0));
    background-size: 100% 200%;
    background-position: 0 100%;
    transition: all 0.5s cubic-bezier(0.246, 0.7, 0.2, 1);
    border-radius: inherit;
  }
  &:hover::after {
    background-position: 0 0;
    border-radius: inherit;
  }
}
